:root {
  --common-spacing: 15px;
  --card-background: rgb(250 250 252);
}
body {
  background-image: url("../background-image/coffee-list.jpg");
  background-size: cover;
  box-sizing: border-box;
  z-index: 0;
}

main {
  height: 100vh;
}

.taskPresenter,
.projectsPresenter {
  width: 100%;
  height: 100%;
}

.cardList {
  border-radius: 8px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.cardSection {
  margin-left: var(--common-spacing);
  margin-bottom: var(--common-spacing);
  background-color: var(--card-background);
  border: 1px solid gray;
  border-radius: 5px;
  padding: var(--common-spacing);
  padding-bottom: 0;
  width: 225px;
}

.green {
  background-color: rgb(216 229 199);
}
.yellow {
  background-color: hsl(56, 68%, 61%);
}
.red {
  background-color: hsl(16, 62%, 62%);
}

.card {
  width: 100%;
  display: flex;
  height: auto;
}

.cardTitle {
  padding-right: 30px;
  flex: 2;
}

.cardTitle > p {
  margin-top: 5px;
}

.cardDate {
  padding-right: var(--common-spacing);
  color: hsl(0, 0%, 40%);
}

.cardDate > p {
  margin-top: 6px;
}

.checkbox {
  margin: 0;
  padding-right: var(--common-spacing);
}

.chevronDown {
  width: 30px;
  margin: 0;
}

.tPtitle {
  text-align: center;
  color: var(--card-background);
}

.description {
  text-align: center;
}

.descriptionT {
  font-weight: 600;
}

.descriptionB {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.edition {
  display: flex;
  justify-content: center;
  gap: var(--common-spacing);
  margin-top: var(--common-spacing);
  margin-bottom: var(--common-spacing);
  margin-top: var(--common-spacing);
}

.addButton {
  background-color: hsl(240deg 50% 50% / 70%);
  font-size: 5rem;
  color: white;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetButton {
  background-color: hsl(0deg 50% 50% / 38%);
  font-size: 2rem;
  color: white;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 35px;
  left: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.renewImage,
.fdImage {
  width: 50px;
}

.deleteButton,
.editButton {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 8px;
}

.expandButton,
.deleteButton,
.editButton,
.checkbox,
.checkboxInput {
  cursor: pointer;
}
