:root {
    --gray-border:hsl(0, 0%, 30%);
}

form {
    background-color: hsl(200, 100%, 94%);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--gray-border);
    color: var(--gray-border);
}

input, select {
    height: 30px;
    padding: 0 10px 0 10px;
}

input,
textarea {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    width: 95%;
    color: inherit;
}

textarea {
    padding: 10px;
}

input:focus-visible,
textarea:focus-visible {
    outline: 1px solid var(--gray-border);
}

select {
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 95%);
    border: 1px solid var(--gray-border);
    width: 100%;
    color: inherit;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

fieldset>legend {
    font-weight: 600;
}

fieldset>label {
    margin-top: 15px;
    margin-bottom: 5px;
}

button {
    padding: 5px 20px 5px 20px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid var(--gray-border);
}